root = true

[*.cs]
charset = utf-8
indent_style = space
indent_size = 4
max_line_length = 120

csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

dotnet_naming_rule.private_fields_use_underscore.severity = warning
dotnet_naming_rule.private_fields_use_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_use_underscore.style = underscore_camel_case

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_camel_case.required_prefix = _
dotnet_naming_style.underscore_camel_case.capitalization = camel_case
